algorithmia==1.2.1
algorithmia-api-client==1.1.0
cachetools==3.1.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-images-download==2.8.0
Google-Images-Search==1.0.1
httplib2==0.15.0
idna==2.8
Pillow==6.2.1
progress==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyfiglet==0.8.post1
python-resize-image==1.1.19
requests==2.22.0
rsa==4.0
selenium==3.141.0
socketIO-client==0.7.2
termcolor==1.1.0
uritemplate==3.0.1
urllib3==1.25.7
websocket-client==0.56.0
